/* Common Use */
.border-line {
  width: 35%;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.footer {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  height: 10rem;
}

.footer li {
  list-style-type: none;
  cursor: pointer;
  color: #303030;
  font-size: 13px;
}

.footer li:hover {
  color: orange;
  transition: all 0.2s;
}

.footer li:not(:hover) {
  /* color: black; */
  transition: all 0.4s;
}

.footer-flexbox1 {
  width: 20%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.footer-flexbox1 p {
  font-size: 10px;
  color: grey;
}

.footer-flexbox2 {
  width: 80%;
  justify-content: flex-end;
  align-items: center;
  gap: 80px;
  padding-top: 30px;
  padding-right: 110px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
}

@media screen and (max-width: 767px) {
  .footer-flexbox2 {
    display: none;
  }

  .footer-flexbox1 {
    width: 100%;
    font-size: 12px;
    padding-left: 20px;
    padding-top: 30px;
    margin-bottom: 0;
  }
}
