.email-verificatioin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 10rem);
  background-color: rgba(0, 0, 0, 0.01);
}

@media screen and (max-width: 767px) {
  .email-verificatioin-container h1 {
    font-size: 15px;
  }
}
