.home-container {
  width: 100%;
  min-height: calc(100vh - 10rem);
  margin-left: auto;
  margin-right: auto;
}

.home-top-bg-container {
  position: relative;
}

.bg-setting {
  width: 100%;
  height: 80vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.home-top-bg1 {
  /* background-image: url(../../../public/imgs/bg/bg-3.webp); */
  /* background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); */
  /* background: linear-gradient(to top, #dfe9f3 0%, white 100%); */
  background-color: black;
  opacity: 1;
  transition: 0.7s ease-out;
}

/* .home-top-bg1::before,
.home-top-bg2::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
} */

.home-top-bg1 h1 {
  opacity: 1;
  transition: 0.7s ease-out;
  color: #39ff14;
  font-size: 40px;
  letter-spacing: 3px;
  width: 23ch;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.05em solid #39ff14;
  animation: typing 3s steps(40), cursor 1s steps(1) infinite;
}

.home-top-bg2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  /* background-image: url(../../../public/imgs/bg/bg-2.webp); */
  opacity: 0;
  transition: 0.7s ease-out;
}

.home-top-bg2 h1 {
  opacity: 0;
  transition: 0.7s ease-out;
  color: #39ff14;
  font-size: 50px;
  letter-spacing: 5px;
  width: 10.5ch;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.05em solid #39ff14;
  /* animation: typing2 3s steps(40), cursor2 1s steps(1) infinite; */
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing2 {
  from {
    width: 0;
  }
}

@keyframes cursor2 {
  50% {
    border-color: transparent;
  }
}

.home-card-title {
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  letter-spacing: 1px;
}

.home-card-description {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  padding-top: 20px;
  /* background-color: red; */
}

.home-card-description h2 {
  width: 60%;
  max-width: 1200px;
  border-left: 4px solid green;
  padding-left: 15px;
  letter-spacing: 2px;
}

.home-card-description-laptop {
  width: 60%;
  max-width: 1200px;
}

.home-card-description-mobile {
  display: none;
}

.home-card-container {
  gap: 20px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  /* background-color: red; */
}

.home-card-flexbox {
  position: relative;
  width: 23%;
  max-width: 500px;
  height: auto;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  /* background-color: yellow; */
}

/* .home-card-flexbox:nth-child(2) {
  border-right: 1px dotted grey;
  border-left: 1px dotted grey;
} */

.home-card-flexbox-detail {
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  /* background-color: blue; */
}

.home-card-flexbox-detail p {
  display: none;
}

.home-card-flexbox-detail p {
  line-height: 30px;
  font-size: 15px;
}

.home-card-fontAwesomeIcon {
  width: 60px;
  height: 60px;
  color: black;
}

.home-card-flexbox-detail-hover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  justify-content: flex-start;
  align-items: center;
  /* padding: 30px; */
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  /* padding-top: 80px; */
  background-color: white;
  flex-direction: column;
  transform: rotateY(40deg);
}

.home-card-flexbox-detail-hover p {
  line-height: 40px;
}

.home-startBtn {
  margin-top: 50px;
  justify-content: center;
}

.home-startBtn button {
  border-radius: 50px;
  width: 200px;
  height: 60px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: black;
  cursor: pointer;
}

.home-startBtn button:hover {
  color: red;
  transition: all 0.2s linear;
  transform: translateY(-10%);
}

.home-startBtn button:not(:hover) {
  color: white;
  transform: translateY(0%);
  transition: all 0.2s linear;
}

@media (hover: hover) {
  .home-card-flexbox-detail-hover:hover {
    opacity: 1;
    transition: all 0.3s linear;
    /* box-shadow: 10px 10px 20px rgba(202, 19, 47, 0.2); */
    box-shadow: 10px 10px 20px rgba(19, 60, 202, 0.2);
    transform: rotateY(0deg);
  }

  .home-card-flexbox-detail-hover:not(:hover) {
    opacity: 0;
    transition: all 0.3s linear;
    box-shadow: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
}

@media screen and (max-width: 767px) {
  .bg-setting {
    height: 60vh;
    max-height: 800px;
  }

  .home-top-bg1 h1 {
    font-size: 20px;
    width: 26ch;
  }

  .home-top-bg2 h1 {
    font-size: 30px;
    width: 12ch;
  }

  .home-card-title {
    font-size: 10px;
  }

  .home-card-description {
    padding-top: 0px;
    padding-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .home-card-description h2 {
    display: none;
  }

  .home-card-description-laptop {
    display: none;
  }

  .home-card-description-mobile {
    display: block;
    width: 90%;
    font-size: 15px;
    line-height: 45px;
  }

  .home-card-container {
    gap: 20px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    /* background-color: red; */
    flex-wrap: wrap;
  }

  .home-card-flexbox {
    position: relative;
    width: 90%;
    max-width: 500px;
    height: auto;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    /* background-color: yellow; */
  }

  .home-card-flexbox-detail {
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    box-shadow: 10px 10px 20px rgba(19, 60, 202, 0.2);
    /* background-color: blue; */
  }

  .home-card-flexbox-detail p {
    display: block;
    width: 80%;
    line-height: 40px;
  }

  .home-startBtn button {
    width: 180px;
    height: 50px;
  }
}
