.home-container {
  width: 100%;
  min-height: calc(100vh - 10rem);
  margin-left: auto;
  margin-right: auto;
}

.home-top-bg-container {
  position: relative;
}

.bg-setting {
  width: 100%;
  height: 80vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.home-top-bg1 {
  background-color: black;
  opacity: 1;
  transition: 0.7s ease-out;
}

/* .home-top-bg1::before,
.home-top-bg2::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
} */

.home-top-bg1 h1 {
  opacity: 1;
  transition: 0.7s ease-out;
  color: #39ff14;
  font-size: 40px;
  letter-spacing: 3px;
  width: 24.6ch;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.05em solid #39ff14;
  animation: typing 2.2s steps(40), cursor 1s steps(1) infinite;
}

.home-top-bg2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  /* background-image: url(../../../public/imgs/bg/bg-2.webp); */
  opacity: 0;
  transition: 0.7s ease-out;
}

.home-top-bg2 h1 {
  opacity: 0;
  transition: 0.7s ease-out;
  color: #39ff14;
  font-size: 50px;
  letter-spacing: 5px;
  width: 11.2ch;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.05em solid #39ff14;
  /* animation: typing2 3s steps(40), cursor2 1s steps(1) infinite; */
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing2 {
  from {
    width: 0;
  }
}

@keyframes cursor2 {
  50% {
    border-color: transparent;
  }
}

.home-card-title {
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  letter-spacing: 1px;
}

.home-card-title h1 {
  margin-right: 20px;
}

.home-card-title-animation-laptop {
  display: block;
}

.home-card-title-animation-mobile {
  display: none;
}

.home-card-description {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  padding-top: 20px;
  /* background-color: red; */
}

.home-card-description h2 {
  width: 60%;
  max-width: 1200px;
  border-left: 4px solid green;
  /* rgba(35, 35, 186); */
  padding-left: 15px;
  letter-spacing: 2px;
  font-size: 30px;
}

.home-card-description-laptop {
  width: 60%;
  max-width: 1200px;
  font-size: 18px;
}

.home-card-description-mobile {
  display: none;
}

.home-card-container {
  gap: 20px;
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.home-card-flexbox {
  position: relative;
  width: 23%;
  max-width: 550px;
  height: auto;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  /* background-color: yellow; */
}

/* .home-card-flexbox:nth-child(2) {
  border-right: 1px dotted grey;
  border-left: 1px dotted grey;
} */

.home-card-flexbox-detail {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  /* background-color: blue; */
}

.home-card-flexbox-detail p {
  display: none;
}

.home-card-fontAwesomeIcon {
  width: 60px;
  height: 60px;
  color: black;
}

.home-card-flexbox-detail-hover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  justify-content: flex-start;
  align-items: center;
  /* padding: 30px; */
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  /* padding-top: 80px; */
  background-color: white;
  flex-direction: column;
  box-shadow: 10px 10px 20px rgba(19, 60, 202, 0.2);
}

.home-card-flexbox-detail-hover p {
  line-height: 40px;
}

.home-startBtn {
  margin-top: 50px;
  justify-content: center;
}

.home-startBtn button {
  border-radius: 50px;
  width: 200px;
  height: 60px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: black;
  cursor: pointer;
}

.home-startBtn button:hover {
  color: #39ff14;
  transition: all 0.2s linear;
  transform: translateY(-10%);
}

.home-startBtn button:not(:hover) {
  color: white;
  transform: translateY(0%);
  transition: all 0.2s linear;
}

.chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: black;
  color: #39ff14;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  z-index: 999;
  opacity: 0.5;
  font-weight: 500;
}

.chat-button:hover {
  opacity: 1 !important;
  transition: all 0.15s linear;
}

.chat-button:not(:hover) {
  opacity: 0.5;
  transition: all 0.15s linear;
}

.chat-room {
  position: fixed;
  bottom: 110px;
  right: 20px;
  width: 300px;
  height: 400px;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(19, 60, 202, 0.2);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: none;
}

.chat-header {
  padding: 15px;
  background-color: black;
  color: white;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.chat-header h4 {
  margin: 0;
}

.chat-input-section {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.chat-input {
  width: 80%;
  box-sizing: border-box;
  padding: 10px 15px;
  border: none;
  outline: none;
  font-size: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-send-button {
  width: 20%;
  padding: 12.5px 15px;
  border: none;
  background-color: black;
  color: white;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.3s;
}

.chat-send-button:hover {
  opacity: 0.3;
}

.chat-content {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  max-height: 310px;
}

.chat-message {
  margin: 8px 0;
  padding: 8px 12px;
  border-radius: 10px;
  width: fit-content;
  max-width: 80%;
}

.user {
  background-color: black;
  color: white;
  align-self: flex-end;
  font-size: 14px;
  line-height: 20px;
  border-bottom-right-radius: 0;
}

.server {
  background-color: #f1f1f1;
  align-self: flex-start;
  font-size: 14px;
  line-height: 20px;
  border-bottom-left-radius: 0;
}

@media (hover: hover) {
  .home-card-flexbox-detail-hover:hover {
    opacity: 1;
    transition: all 0.3s linear;
    /* box-shadow: 10px 10px 20px rgba(202, 19, 47, 0.2); */
    transform: translateY(0%);
  }

  .home-card-flexbox-detail-hover:not(:hover) {
    opacity: 0;
    transition: all 0.3s linear;
    transform: translateY(-3%);
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .home-card-description-laptop {
    display: none;
  }

  .home-card-description-mobile {
    display: block;
    width: 80%;
    font-size: 18px;
    line-height: 45px;
  }

  .home-card-description h2 {
    font-size: 25px;
    width: 80%;
  }

  .home-card-container {
    width: 100%;
    flex-wrap: wrap;
    gap: unset;
  }

  .home-card-flexbox {
    width: 80%;
    max-width: 650px;
    gap: unset;
  }

  .home-card-flexbox-detail {
    width: 100%;
    box-shadow: 10px 10px 20px rgba(19, 60, 202, 0.2);
  }

  .home-card-flexbox-detail p {
    display: block;
    width: 70%;
    line-height: 40px;
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .bg-setting {
    height: 60vh;
    max-height: 800px;
  }

  .home-top-bg1 h1 {
    font-size: 20px;
    width: 27.4ch;
    animation: typing 2s steps(40), cursor 1s steps(1) infinite;
  }

  .home-top-bg2 h1 {
    font-size: 30px;
    width: 12.5ch;
  }

  .home-card-title {
    font-size: 10px;
  }

  .home-card-title h1 {
    margin-right: 10px;
  }

  .home-card-title-animation-laptop {
    display: none;
  }

  .home-card-title-animation-mobile {
    display: block;
  }

  .home-card-description {
    padding-top: 0px;
    padding-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .home-card-description h2 {
    display: none;
  }

  .home-card-description-laptop {
    display: none;
  }

  .home-card-description-mobile {
    display: block;
    width: 90%;
    font-size: 15px;
    line-height: 45px;
  }

  .home-card-container {
    flex-wrap: wrap;
    gap: 10px;
  }

  .home-card-flexbox {
    width: 90%;
  }

  .home-card-flexbox-detail {
    box-shadow: 10px 10px 20px rgba(19, 60, 202, 0.2);
  }

  .home-card-flexbox-detail p {
    display: block;
    width: 80%;
    line-height: 40px;
    font-size: 15px;
  }

  .home-startBtn button {
    width: 180px;
    height: 50px;
  }
}
