/* Common Use */
.display-flex {
  display: flex;
}

.cursor-pointer {
  cursor: pointer;
}

.navbar {
  justify-content: center;
  width: 100%;
  max-width: 2560px;
  margin-left: auto;
  margin-right: auto;
  height: 65px;
  color: black;
}

.navbar-title-flexbox {
  width: 20%;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
}

.navbar-item-flexbox {
  width: 80%;
  gap: 4rem;
  justify-content: flex-end;
  padding-right: 50px;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
}

.navbar-title,
.navbar-item,
.navbar-item-search {
  list-style-type: none;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-title {
  transition: color 0.3s;
}

.navbar-title:hover {
  color: #00a800 !important;
}

.navbar-item {
  transition: color 0.3s;
  position: relative;
  z-index: 10;
  padding: 20px;
}

.navbar-item:hover,
.navbar-item.active {
  color: #00a800;
}

.navbar-submenu {
  position: absolute;
  left: -20px;
  top: 50px;
  opacity: 0;
  background-color: white;
  border: 1px solid #e0e0e0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  z-index: 999;
  visibility: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 30px;
  border-radius: 5px;
  text-align: left;
}

.navbar-submenu-list {
  list-style-type: none;
  padding: 15px 15px 15px 15px;
  width: 100%;
  z-index: 999;
  text-align: left;
  font-size: 12px;
  font-weight: 500;
  color: black;
  transition: color 0.3s ease;
}

.navbar-submenu .navbar-submenu-list:hover {
  color: orange;
}

.navbar-item:hover .navbar-submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.navbar-magnifying-glass {
  margin-right: 8px;
}

.navbar-search-input {
  width: 50%;
  height: 25px;
  transition: all 0.2s;
  border: none;
  border-bottom: 1px solid black;
}

.navbar-search-input:focus {
  width: 80%;
}

/* For Mobile */
.navbar-mobile-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .navbar-title-flexbox {
    width: 50%;
    margin-left: -25px;
    font-size: 19px;
    position: relative;
    z-index: 5;
  }

  .navbar-mobile-menu {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar-mobile-menu button {
    width: 50px;
    height: 50px;
    border: none;
    color: black;
    background-color: transparent;
  }

  .navbar-item-flexbox {
    display: none;
  }
}
