/* Common Use */
.display-flex {
  display: flex;
}

.cursor-pointer {
  cursor: pointer;
}

.navbar {
  justify-content: center;
  width: 100%;
  /* max-width: 1920px; */
  height: 65px;
  /* background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 150.2%
  ); */
  color: black;
}

.navbar-title-flexbox {
  width: 20%;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 3px;
}

.navbar-item-flexbox {
  width: 80%;
  gap: 40px;
  justify-content: flex-end;
  padding-right: 50px;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
}

.navbar-title,
.navbar-item,
.navbar-item-search {
  list-style-type: none;
}

.navbar-title:hover,
.navbar-item:hover {
  color: orange !important;
  transition: all 0.2s;
}

.navbar-title:not(:hover) {
  color: black;
  transition: all 0.4s;
}

.navbar-item:not(:hover) {
  color: black;
  transition: all 0.4s;
}

.navbar-magnifying-glass {
  margin-right: 8px;
}

.navbar-search-input {
  width: 50%;
  height: 25px;
  transition: all 0.2s;
  border: none;
  border-bottom: 1px solid black;
}

.navbar-search-input:focus {
  width: 80%;
}

/* For Mobile */
.navbar-mobile-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .navbar-title-flexbox {
    width: 50%;
    margin-left: -25px;
    letter-spacing: 1px;
    font-size: 15px;
    position: relative;
    z-index: 5;
  }

  .navbar-mobile-menu {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar-mobile-menu button {
    width: 50px;
    height: 50px;
    border: none;
    color: black;
    background-color: transparent;
  }

  .navbar-item-flexbox {
    display: none;
  }
}
