.forgot-password-container {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 10rem);
  opacity: 0;
  animation: flash 0.7s 0.2s forwards;
}

.forgot-password-introduction {
  max-width: 600px;
  margin-bottom: 30px;
}

.forgot-password-introduction p {
  color: grey;
  font-weight: 500;
}

.forgot-password-form {
  width: 30%;
  max-width: 500px;
  box-shadow: 10px 10px 20px rgba(19, 60, 202, 0.2);
  margin-bottom: 40px;
}

.forgot-password-form-title {
  text-align: center;
  padding: 20px;
}

.forgot-password-form-title h4 {
  letter-spacing: 2px;
  color: grey;
  margin-bottom: 10px;
}

.forgot-password-form-title h2 {
  font-weight: 400;
  letter-spacing: 3px;
}

.forgot-password-form form {
  width: 50%;
  padding-left: 23px;
  margin-left: auto;
  margin-right: auto;
}

.forgot-password-input-container {
  position: relative;
}

.forgot-password-input-container label {
  position: absolute;
  font-size: 10px;
  color: orange;
  left: 0;
  bottom: 85px;
  opacity: 0;
  font-weight: 500;
}

.forgot-password-input-container input:focus + label {
  opacity: 1;
  transition: 0.5s all;
}

.forgot-password-form form input {
  width: 85%;
  height: 40px;
  box-sizing: border-box;
  padding: 5px;
  border: transparent 2px solid;
  border-bottom: grey 2px solid;
  margin-bottom: 40px;
  font-size: 14px;
  transition: 0.2s border linear, 0.2s border-bottom linear, 0.2s outline linear,
    0.2s border-radius linear;
}

.forgot-password-form form input:focus {
  border: orange 2px solid;
  border-bottom: orange 2px solid;
  border-radius: 5px;
  outline: none;
}

.forgot-passoword-email-notmatch {
  display: flex;
  width: 85%;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
  margin-bottom: 30px;
}

.forgot-passoword-email-notmatch p {
  color: red;
  font-size: 14.5px;
}

.forgot-password-button-container {
  width: 85%;
  margin-bottom: 50px;
}

.forgot-password-button-container .forgot-password-button-flexbox:nth-child(1) {
  width: 100%;
  justify-content: center;
}

.forgot-password-button-container button {
  width: 100%;
  height: 45px;
  border: none;
  font-size: 11px;
  background-color: #212121;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  letter-spacing: 2px;
  transition: 0.2s opacity;
}

.forgot-password-button-flexbox button:hover {
  opacity: 0.4;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .forgot-password-container {
    align-items: center;
  }

  .forgot-password-introduction {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }

  .forgot-password-introduction p {
    font-weight: 500;
    font-size: 15px;
  }

  .forgot-password-form {
    width: 90%;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .forgot-password-container {
    align-items: center;
  }

  .forgot-password-introduction {
    width: 70%;
    margin-bottom: 0px;
  }

  .forgot-password-introduction p {
    color: grey;
    font-weight: 500;
    font-size: 13px;
    line-height: 30px;
  }

  .forgot-password-form {
    width: 90%;
    margin-bottom: 0px;
  }

  .forgot-password-form-title h4 {
    font-size: 12px;
  }

  .forgot-password-form-title h2 {
    font-size: 18px;
  }

  .forgot-password-form form {
    width: 62%;
  }

  .forgot-password-form form input {
    font-size: 13px;
  }

  .forgot-passoword-email-notmatch {
    display: flex;
    width: 85%;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
    margin-bottom: 30px;
  }

  .forgot-passoword-email-notmatch p {
    color: red;
  }

  .forgot-password-button-container button {
    font-size: 10px;
    height: 40px;
  }
}
