/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap");
 */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto Slab", serif;
}

div {
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
}

p,
h6,
h5,
h4,
h3,
h2,
h1,
span,
li {
  transform: rotate(0.04deg);
}
