.forgot-password-failed-modal-container {
  width: 350px;
  height: 400px;
}

@media screen and (max-width: 767px) {
  .forgot-password-failed-modal-container {
    width: 300px;
    height: 350px;
  }
}
